
marquee {
  font-size: 20px;
  font-weight: bold;
  color:rgb(102, 9, 9);
  border: 4px #000;
  margin-top: 20px;
  
  }
  .click{
    width: 270px;
    border: 2px solid lightgray;
    display: flex;
    align-items: center;
   justify-content: space-between;
    padding: 4px 10px;
    border-radius: 6px;
    box-shadow: 5px 6px 8px rgba(0,0,0,0.9);
    font-weight: bold;
    margin-top: 30px;
  }
  .click span{
    font-size: 40px;
  }
  
  .media{
    margin-top: 30px;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-around;
  }
  .media-icon{
    width: 24px;
    height: 24px;
  }

 .media button{
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
  box-shadow: 3px 5px 6px rgba(0,0,0,0.9);

  }
