body{
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(249, 249, 249);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  margin-top: 0;
  margin-bottom: 0;
 
}
@media (min-width: 1200.1px) {
  body {
margin-left: 168px;
  }
}
marquee {
font-size: 20px;
font-weight: bold;
color: red;
border: 4px #000;
}
.click{
  width: 270px;
  border: 2px solid lightgray;
  display: flex;
  align-items: center;
 justify-content: space-between;
  padding: 4px 10px;
  border-radius: 6px;
  box-shadow: 5px 6px 8px rgba(0,0,0,0.9);
  font-weight: bold;
}
.click span{
  font-size: 40px;
}